body{
	width: 790px;
	margin: 0 auto;
	background: black;
}

header{
	width: 790px;
	height: 150px;
	background-image:url('../images/header_bg.png');
}

h1, h2, h3, h4, h5, h6, p, li{

	font-family: Oxygen, Arial, serif; 
	color: white;
}

h3{
	text-shadow: 2px 2px grey;
}

p, ol{
	font-size: 11px;
}

a{
	color: white;
	text-decoration: underline;
}

a:hover{
	text-decoration: none;
}

#logo{
	float:left;
}

nav{
	width: 790px;
	float: right;
}

nav ul li{
	list-style: none;	
	display: inline;	
	margin-right: 30px;
	color: white;
}

nav ul li a{
	color: white;
	text-decoration: none;
}

nav ul li a:visited{
	color: silver;
}

nav ul li a:hover{
	color: maroon;
}

aside{
	float: right;
}

section{
	width: 600px;
	clear: both;
	float: left;
	background: #501B1F;
	padding: 20px;
}

.albums{
	
	float: left;
	padding-right: 10px;
	
}

#sitemap{
	width: 790px;
	background: black;	
}

footer{
	clear: both;
}