/*================color chart=================*/
/*

black   - #000000			aliceblue - #f0f8ff
white   - #ffffff			lightblue - #ADD8E6 
marooon - #800000			lightgrey - #d3d3d3
							ivory     - #fffff0
*/

html {
	background: #fffff0;
}

body {
	background: #F0F8FF; /*aliceblue*/ 
	max-width: 980px;
	width: 100%; /*980px*/
	height: 1000px; 
	margin: auto;
	padding: 0% 1.020408163265% 0% 1.020408163265%; /*10px*/
	font-size: 1em; /*16px*/
}

h1, h2, h3, h4, h5, h6, p, li {
	font-family: Imprima, sans-serif;
}

h1 {
	font-size: 1.5em; /*24px*/
}

h2 {
	font-size: 1.125em; /*18px*/
}

h3 {
	font-size: 1em; /*16px*/
}

p {
	font-size: .875em; /*14px*/
	color: #000000; /*black*/
	margin: 3.076923076923% 4.615384615385% 0% 4.615384615385%;  /*20px,30px,0px,30px*/
	padding: 0%;
}

li {
	font-size: .875em; /*14px*/
}

header {
	background: #ADD8E6;
	background-image: url(../images/header_bg.png);	
	background-repeat: no-repeat;
	width: 100%;
}

header h2 {
	display: none;
}

nav {
	background: #000000; 
	padding: 0%;
	margin: auto;
}

nav ul {
	background: #800000;
	width: 71.428571%; /*700px*/
	margin: 0 auto;
	list-style-type: none;
	padding: 0%;
	overflow: hidden;
}

nav ul li {
	width: 14.285714285714%; /*100px*/
	height: 50px;
	float: left;
	padding: 0%;
	overflow: hidden;
}

nav ul li a {
	color: #d3d3d3;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	display: block;
}

nav ul li a:hover {
	color: white;
}

sitemap ul li{
	list-style: square;
}

section {
	background: #add8e6;
	width: 66.326530612245%; /*650px*/
	height: 500px;
	border-right: 2px solid;
	border-color: white;
	float: left;
	overflow: auto;
}

section h1, h2 {
	margin: 3.076923076923% 0% 0% 1.538461538462%; /*20px,0px,0px,10px*/
	padding: 0%;	
}

aside {
	background: #add8e6;
	width: 33.469387755102%; /*328px*/
	height: 500px;
	float: left;
}

aside h1, h3, h4 {
	margin: 6.09756097561% 0% 0% 3.048780487805%; /*20px,0px,0px,10px*/
}

aside h3 {
	padding-bottom: 10px;
}

aside h4 {
	padding: 0px;
}

aside a {
	color: #000000;
}

aside a:hover {
	color: #800000;
}

aside ol {
	background: #ffffff;
	width: 65%;
	height: 110px;
	margin: auto;
	margin-bottom: 5px;
	border: 1px solid;
	border-radius: 5px;
}

aside ul {
	margin: auto;
	margin-top: 0px;
}

aside ul li {
	float: left;
	list-style: none;
	padding: 0px;
}

#about {
	-moz-column-count:3; /* Firefox */
    -webkit-column-count:3;  /*Safari and Chrome */
    column-count:3;
    margin: 4.615384615385%;
}

#about p {
	margin: 3.076923076923% 4.615384615385% 0% 4.615384615385%;  /*20px,30px,0px,30px*/
}

.albums {
	width: 19.230769230769%; /*125px*/
	border: 2px solid;
	border-color: #ffffff;
	margin: 3.076923076923% 1.538461538462% 0% 3.076923076923%;  /*20px,10px,0px,20px*/
	float: left;
}

#logo {
	width: 15.30612244898%; /*150px*/
}

img {
	max-width: 100%;
}

#galary {
	height: 110px;
	width: 100%;
	background: #000000;
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-color: white;
}

#galary ul {
	width: 71.428571428571%; /*700px*/
	height: 110px;
	background: #800000;
	list-style: none;
	padding: 0%;
	margin: auto;
}

#galary ul li {
	width: 14%;
	margin: auto;
	margin-left: 08.571428571429%;
	list-style: none;
	float: left;
	padding: 0%;
	overflow: hidden;
}

#galary ul li a { 
	border: 3px solid #d3d3d3;
	display: block;
}

#galary ul li a:hover {
	border-color: #ffffff;
}

#sitemap {
	background: #ADD8E6;
	width: 100%;
	height: 200px;
}

#sitemap li, h4 {
    color: #000000;
}

#sitemap ul {
	font-size: .875em; /*14px*/
	float: left;
}

footer {
	background: #000000;
	color: #ffffff;
	clear: both;
}

footer a {
	color: #ffffff;
}

/* Media Queries

==============================================*/

/* Tablet portrait size to standard 960 (devices and browsers) */
	
	@media screen and (min-width: 768px) and (max-width: 959px) {
	
body { 
	background: #fffff0; 
}
header h2 {
	display: none;
}
#about {
	-moz-column-count: 1;  /*Firefox */
    -webkit-column-count: 1;  /*Safari and Chrome */
    column-count: 1;
    margin: 4.615384615385%;
}
}
	
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

	@media only screen and (min-width: 480px) and (max-width: 767px) {
	
body { 
	background: #fffff0; 
}
header {
	background-image: none;
}
header h2 {
	float: left;
	line-height: 300%;
}
section {
	background: #ADD8E6;
}
nav {
	clear: both;
	font-size: .9em;
}
nav ul li {
	height: 30px
}
nav ul li a {
	line-height: 30px;
}
#about {
	-moz-column-count:1; /* Firefox */
    -webkit-column-count:1; /* Safari and Chrome */
    column-count:1;
    margin: 4.615384615385%;
}
}

/* Mobile Portrait size to mobile landscape size (devices and browsers)*/

	@media only screen and (max-width: 479px) {

body { 
	background: #fffff0;
}
header {
	background-image: none;
	background: #ffffff;
}
header h2 {
	float: left;
	line-height: 300%;
}
section {
	width: 100%;
	float: none;
	background: #ffffff;
}
aside {
	width: 100%;
}


h1 {
	font-size: 1.3em;
}
h2 {
	font-size: 1em;
}
p {
	font-size: .9em;
}
footer {
	font-size: .7em;
}
nav ul li {
	width: 100%;
	height: 20px;
	float: left;
	padding: 0%;
	overflow: hidden;
}
nav {
	background: #ADD8E6;
	clear: both;
}
nav ul {
	width: 100%;
}
nav ul li a {
	line-height: 20px;
}
nav ul li a:hover {
	color: #800000;
	background: #ffffff;
}
#logo {
	float: left;
}
#about {
	-moz-column-count:1; /* Firefox */
    -webkit-column-count:1; /* Safari and Chrome */
    column-count:1;
    margin: 4.615384615385%;
}
}
	

